---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/index/Navbar.astro';
import Hero from '../components/index/Hero.astro';
import Services from '../components/index/Services.astro';
import Benefits from '../components/index/Benefits.astro';
import Process from '../components/index/Process.astro';
import Reviews from '../components/index/Reviews.astro';
import Contact from '../components/index/Contact.astro';
import Footer from '../components/index/Footer.astro';
---

<MainLayout>
	<Navbar />
	<main>
		<Hero />
		<Services />
		<Benefits />
		<Process />
		<Reviews />
		<Contact />
	</main>
	<Footer />
</MainLayout>
